---
http_interactions:
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/dropbox/awesome-tests/foo.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=ascii
      X-Dropbox-Metadata:
      - '{"revision": 103, "rev": "671f47d8b3", "thumb_exists": false, "bytes": 9,
        "modified": "Mon, 10 Feb 2014 20:42:38 +0000", "client_mtime": "Mon, 10 Feb
        2014 18:12:21 +0000", "path": "/awesome-tests/foo.txt", "is_dir": false, "icon":
        "page_white_text", "root": "dropbox", "mime_type": "text/plain", "size": "9
        bytes"}'
      X-Server-Response-Time:
      - '174'
      Etag:
      - 103n
      X-Dropbox-Request-Id:
      - 0f5aef0f176f66e0f4cb663da420931f
      X-Requestid:
      - c7f3d0ff73ac4b4e56abe0131dab20e1
    body:
      encoding: UTF-8
      string: Some file
  recorded_at: Mon, 10 Feb 2014 20:43:10 GMT
recorded_with: VCR 2.8.0
