---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/qux.txt
    body:
      encoding: UTF-8
      string: spec file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '429'
      X-Dropbox-Request-Id:
      - f532d5e1aa770f03854d7d62b61b3225
      X-Requestid:
      - 309c74a1112d163797632cc3ddf65266
    body:
      encoding: UTF-8
      string: '{"revision": 64, "rev": "401f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:29:58 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:29:58 +0000", "path": "/qux.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:29:59 GMT
[...]
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/qux.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '35'
      X-Dropbox-Request-Id:
      - 485ec55811b2545040b28dbf1b836ec2
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - ee2799dd66a19ddde84afdb517e0246b
    body:
      encoding: UTF-8
      string: '{"revision": 65, "rev": "411f47d8b3", "thumb_exists": false, "bytes":
        15, "modified": "Mon, 10 Feb 2014 20:29:59 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:29:59 +0000", "path": "/qux.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "15 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:30:04 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/restore/dropbox/qux.txt
    body:
      encoding: US-ASCII
      string: rev=401f47d8b3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '190'
      X-Dropbox-Request-Id:
      - e809ad60009c237e74cc3b310e0c6b07
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 86af155e21ffc7b91c3003e1e9628c86
    body:
      encoding: UTF-8
      string: '{"revision": 66, "rev": "421f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:30:04 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:29:58 +0000", "path": "/qux.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:30:06 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/qux.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '40'
      X-Dropbox-Request-Id:
      - 26157079463da49a00d10c4789f22774
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 40ca46bde0342e40fddd6dd2f39fcf26
    body:
      encoding: UTF-8
      string: '{"revision": 66, "rev": "421f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:30:04 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:29:58 +0000", "path": "/qux.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:30:06 GMT
recorded_with: VCR 2.8.0
