---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/foo.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '36'
      X-Dropbox-Request-Id:
      - ca7840d7b768f35c785adee68e47e5c1
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 099af021884d26daa3aaa94296bff26b
    body:
      encoding: UTF-8
      string: '{"revision": 13, "rev": "d1f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 18:14:12 +0000", "client_mtime": "Mon, 10
        Feb 2014 18:12:21 +0000", "path": "/foo.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:28:56 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/foo.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '42'
      X-Dropbox-Request-Id:
      - 9fb5f475323222ded37d612640f85d4b
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 890f801f428207fd4b12909bd324da8f
    body:
      encoding: UTF-8
      string: '{"revision": 13, "rev": "d1f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 18:14:12 +0000", "client_mtime": "Mon, 10
        Feb 2014 18:12:21 +0000", "path": "/foo.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:28:58 GMT
recorded_with: VCR 2.8.0
