---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: path=dir-spec-tests&root=dropbox
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '153'
      X-Dropbox-Request-Id:
      - 95cbfc456c60378dbdfaec1d909de1fc
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 257d9be8ba8e942474336393f387588d
    body:
      encoding: UTF-8
      string: '{"revision": 82, "rev": "521f47d8b3", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 10 Feb 2014 20:37:22 +0000", "path": "/dir-spec-tests",
        "is_dir": true, "icon": "folder", "root": "dropbox", "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:37:23 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/copy
    body:
      encoding: US-ASCII
      string: from_path=dir-spec-tests&root=dropbox&to_path=dir-spec-tests-copied
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '180'
      X-Dropbox-Request-Id:
      - 09bf5b1581be09fb737543f8daa425e0
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 22606741968394a8560f6590e540364f
    body:
      encoding: UTF-8
      string: '{"hash": "5d4b6dc8922c366e70cb27fbed545b64", "revision": 83, "rev":
        "531f47d8b3", "thumb_exists": false, "bytes": 0, "modified": "Mon, 10 Feb
        2014 20:37:24 +0000", "path": "/dir-spec-tests-copied", "is_dir": true, "icon":
        "folder", "root": "dropbox", "contents": [], "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:37:25 GMT
recorded_with: VCR 2.8.0
