---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/qux.txt
    body:
      encoding: UTF-8
      string: spec file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '417'
      X-Dropbox-Request-Id:
      - c7023dba065453cfb08e478549381a0b
      X-Requestid:
      - 8ce308dbae99c77204ab419f37807c25
    body:
      encoding: UTF-8
      string: '{"revision": 110, "rev": "6e1f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:54:09 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:54:09 +0000", "path": "/qux.txt", "is_dir": false, "icon":
        "page_white_text", "root": "dropbox", "mime_type": "text/plain", "size": "9
        bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:54:11 GMT
[...]
- request:
    method: get
    uri: https://api.dropbox.com/1/revisions/dropbox/qux.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '39'
      X-Dropbox-Request-Id:
      - 4c63e67b6d1749839c9e5380d1a829f3
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 40183151f26b3850df36f431d4f8a730
    body:
      encoding: UTF-8
      string: '[{"revision": 111, "rev": "6f1f47d8b3", "thumb_exists": false, "bytes":
        15, "modified": "Mon, 10 Feb 2014 20:54:13 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:54:13 +0000", "path": "/qux.txt", "is_dir": false, "icon":
        "page_white_text", "root": "dropbox", "mime_type": "text/plain", "size": "15
        bytes"}, {"revision": 110, "rev": "6e1f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:54:09 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:54:09 +0000", "path": "/qux.txt", "is_dir": false, "icon":
        "page_white_text", "root": "dropbox", "mime_type": "text/plain", "size": "9
        bytes"}]'
  recorded_at: Mon, 10 Feb 2014 20:54:18 GMT
recorded_with: VCR 2.8.0
