---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/qux.txt
    body:
      encoding: UTF-8
      string: spec file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '274'
      X-Dropbox-Request-Id:
      - 7f03b1ef2e20765aec5eb22371084a6b
      X-Requestid:
      - bee355a295929344deb74e440afbebac
    body:
      encoding: UTF-8
      string: '{"revision": 66, "rev": "421f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:30:04 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:29:58 +0000", "path": "/qux.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:30:13 GMT
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/dropbox/qux.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=ascii
      X-Dropbox-Metadata:
      - '{"revision": 66, "rev": "421f47d8b3", "thumb_exists": false, "bytes": 9,
        "modified": "Mon, 10 Feb 2014 20:30:04 +0000", "client_mtime": "Mon, 10 Feb
        2014 20:29:58 +0000", "path": "/qux.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
      X-Server-Response-Time:
      - '283'
      Etag:
      - 66n
      X-Dropbox-Request-Id:
      - af02146afa09ed190a67d75713d6930e
      X-Requestid:
      - cc2871845ad31a0809ac0dc9b78f64f7
    body:
      encoding: UTF-8
      string: spec file
  recorded_at: Mon, 10 Feb 2014 20:30:17 GMT
recorded_with: VCR 2.8.0
