---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '53'
      X-Dropbox-Request-Id:
      - 0bcf9c3b0548735a574ffdeb6a84b99f
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - df5b9aade54268043c26c675f528c42a
    body:
      encoding: UTF-8
      string: '{"hash": "d4154720cf2df1a7450b4a9614532ebc", "thumb_exists": false,
        "bytes": 0, "path": "/", "is_dir": true, "size": "0 bytes", "root": "dropbox",
        "contents": [{"revision": 2, "rev": "21f47d8b3", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 10 Feb 2014 18:11:20 +0000", "path": "/awesome-tests",
        "is_dir": true, "icon": "folder", "root": "dropbox", "size": "0 bytes"}, {"revision":
        3, "rev": "31f47d8b3", "thumb_exists": false, "bytes": 0, "modified": "Mon,
        10 Feb 2014 18:11:21 +0000", "path": "/awesome-tests-!@#$%^&{b}[].;''.,",
        "is_dir": true, "icon": "folder", "root": "dropbox", "size": "0 bytes"}, {"revision":
        4, "rev": "41f47d8b3", "thumb_exists": false, "bytes": 0, "modified": "Mon,
        10 Feb 2014 18:11:22 +0000", "path": "/awesome-tests-\u0142\u00f3\u0142\u0105",
        "is_dir": true, "icon": "folder", "root": "dropbox", "size": "0 bytes"}, {"revision":
        43, "rev": "2b1f47d8b3", "thumb_exists": false, "bytes": 15, "modified": "Mon,
        10 Feb 2014 18:28:30 +0000", "client_mtime": "Mon, 10 Feb 2014 18:28:30 +0000",
        "path": "/baz.txt", "is_dir": false, "icon": "page_white_text", "root": "dropbox",
        "mime_type": "text/plain", "size": "15 bytes"}, {"revision": 57, "rev": "391f47d8b3",
        "thumb_exists": false, "bytes": 0, "modified": "Mon, 10 Feb 2014 19:18:29
        +0000", "path": "/dir-spec-tests", "is_dir": true, "icon": "folder", "root":
        "dropbox", "size": "0 bytes"}, {"revision": 13, "rev": "d1f47d8b3", "thumb_exists":
        false, "bytes": 9, "modified": "Mon, 10 Feb 2014 18:14:12 +0000", "client_mtime":
        "Mon, 10 Feb 2014 18:12:21 +0000", "path": "/foo.txt", "is_dir": fals[...]
