---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/test.txt
    body:
      encoding: UTF-8
      string: Some file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '348'
      X-Dropbox-Request-Id:
      - 8278c3d831d6d9eeb8074ea20568cb1d
      X-Requestid:
      - 3ac7b6770cc8649f49c34eeb184abd47
    body:
      encoding: UTF-8
      string: '{"revision": 9, "rev": "91f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 18:14:02 +0000", "client_mtime": "Mon, 10
        Feb 2014 18:14:02 +0000", "path": "/test.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:29:09 GMT
recorded_with: VCR 2.8.0
