---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/foo.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '45'
      X-Dropbox-Request-Id:
      - af418d15edaa4e0adaac578b767a73aa
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - b4ea7ca833ec946ec2cacd6e92a0aef2
    body:
      encoding: UTF-8
      string: '{"revision": 13, "rev": "d1f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 18:14:12 +0000", "client_mtime": "Mon, 10
        Feb 2014 18:12:21 +0000", "path": "/foo.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:29:00 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/foo.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '38'
      X-Dropbox-Request-Id:
      - 9ab0bf710e1602b76e66cb536b0f13b4
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 31d9b89f7f2e64b0a0478cd766c2cc8d
    body:
      encoding: UTF-8
      string: '{"revision": 13, "rev": "d1f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 18:14:12 +0000", "client_mtime": "Mon, 10
        Feb 2014 18:12:21 +0000", "path": "/foo.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:29:00 GMT
recorded_with: VCR 2.8.0
