---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/search/dropbox/awesome-tests?query=foo.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '47'
      X-Dropbox-Request-Id:
      - e647e04863d08b81afbaf395630a133a
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 4e0411ed0c52bcddf32b2932468a4cb2
    body:
      encoding: UTF-8
      string: '[{"revision": 47, "rev": "2f1f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 19:03:45 +0000", "client_mtime": "Mon, 10
        Feb 2014 19:03:45 +0000", "path": "/awesome-tests/delta-test-foo.txt", "is_dir":
        false, "icon": "page_white_text", "root": "dropbox", "mime_type": "text/plain",
        "size": "9 bytes"}]'
  recorded_at: Mon, 10 Feb 2014 20:29:13 GMT
recorded_with: VCR 2.8.0
