---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: path=dir-spec-tests&root=dropbox
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '148'
      X-Dropbox-Request-Id:
      - a2d9ad3fd9054a74eeea546f93a7b8dc
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - a914af33d16b493590f12f1d95401613
    body:
      encoding: UTF-8
      string: '{"revision": 94, "rev": "5e1f47d8b3", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 10 Feb 2014 20:39:24 +0000", "path": "/dir-spec-tests",
        "is_dir": true, "icon": "folder", "root": "dropbox", "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:39:25 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: path=dir-spec-tests&root=dropbox
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '161'
      X-Dropbox-Request-Id:
      - 24726638ae6b95789dd4cde5ffad8913
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 04d285a7db00dc35be3c17fc76789d74
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 95, "rev": "5f1f47d8b3", "thumb_exists":
        false, "bytes": 0, "modified": "Mon, 10 Feb 2014 20:39:25 +0000", "path":
        "/dir-spec-tests", "is_dir": true, "icon": "folder_gray", "root": "dropbox",
        "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:39:26 GMT
recorded_with: VCR 2.8.0
