---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/awesome-tests/delta-test-foo.txt
    body:
      encoding: UTF-8
      string: Some file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '490'
      X-Dropbox-Request-Id:
      - cf682e3deea4da80fc3b2c8033558852
      X-Requestid:
      - c58d33bd807e3fd9083670f2eae6cf6d
    body:
      encoding: UTF-8
      string: '{"revision": 104, "rev": "681f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:47:32 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:47:32 +0000", "path": "/awesome-tests/delta-test-foo.txt", "is_dir":
        false, "icon": "page_white_text", "root": "dropbox", "mime_type": "text/plain",
        "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:47:34 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '43'
      X-Dropbox-Request-Id:
      - 626bd28d4d8cb33ee58b3d57f25de920
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 13cba29797917ed168fa5f874bb4493b
    body:
      encoding: UTF-8
      string: '{"has_more": false, "cursor": "AAFgt6nTvJUCmUqI0reN9_oXeG7rJGtKAl2B51ZDtUHOFSJeQrK2YeXjhLArKTf3xtINlsQdkPkbiawsVfWTPwND1lmci89t0F7HuJkPNxOAPA",
        "entries": [["/getting started.pdf", {"revision": 1, "rev": "11f47d8b3", "thumb_exists":
        false, "bytes": 249159, "modified": "Mon, 10 Feb 2014 17:46:48 +0000", "client_mtime":
        "Mon, 10 Feb 2014 17:46:48 +0000", "path": "/Getting Started.pdf", "is_dir":
        false, "icon": "page_white_acrobat", "root": "dropbox", "mime_type": "application/pdf",
        "size": "243.3 KB"}], ["/test-1392055876.txt", {"revision": 5, "rev": "51f47d8b3",
        "thumb_exists": false, "bytes": 9, "modified":[...]
