---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/awesome-tests/delta-test-baz.txt
    body:
      encoding: UTF-8
      string: Some file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '757'
      X-Dropbox-Request-Id:
      - 03394603be4a506082c1d97cf49ffcb4
      X-Requestid:
      - 59ae7bbdcc5064db81a1af424e6058c4
    body:
      encoding: UTF-8
      string: '{"revision": 105, "rev": "691f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:47:34 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:47:35 +0000", "path": "/awesome-tests/delta-test-baz.txt", "is_dir":
        false, "icon": "page_white_text", "root": "dropbox", "mime_type": "text/plain",
        "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:47:36 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '50'
      X-Dropbox-Request-Id:
      - 979e547fc9cc43f443d971f43d35f999
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 58b6fdf5f58524661bbeb7ea10da3dad
    body:
      encoding: UTF-8
      string: '{"has_more": false, "cursor": "AAH8DWQ5U_abxuz-zq9klgVXyKrILyLYjcasZYicZl5E_-pDmwyQct_-DKaCHhWVR7dNDbNdmxpoFMZl8xk-ZIJDmiOQGmitpnifzAHTfZyI1A",
        "entries": [["/getting started.pdf", {"revision": 1, "rev": "11f47d8b3", "thumb_exists":
        false, "bytes": 249159, "modified": "Mon, 10 Feb 2014 17:46:48 +0000", "client_mtime":
        "Mon, 10 Feb 2014 17:46:48 +0000", "path": "/Getting Started.pdf", "is_dir":
        false, "icon": "page_white_acrobat", "root": "dropbox", "mime_type": "application/pdf",
        "size": "243.3 KB"}], ["/test-1392055876.txt", {"revision": 5, "rev": "51f47d8b3",
        "thumb_exists": false, "bytes": 9, "modified":[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: path=awesome-tests%2Fdelta-test-baz.txt&root=dropbox
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '179'
      X-Dropbox-Request-Id:
      - 842fad3eb774b2d4e3f8cca9cb2e2434
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - bf17a7efb7ce60baa1edfea9a3eb1367
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 106, "rev": "6a1f47d8b3", "thumb_exists":
        false, "bytes": 0, "modified": "Mon, 10 Feb 2014 20:47:37 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/awesome-tests/delta-test-baz.txt",
        "is_dir": false, "icon": "page_white_text", "root": "dropbox", "mime_type":
        "text/plain", "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:47:38 GMT
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/awesome-tests/delta-test-bar.txt
    body:
      encoding: UTF-8
      string: Another file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '541'
      X-Dropbox-Request-Id:
      - 876c34745b4429ab7f6dafcbe2fc7d16
      X-Requestid:
      - c6682f249ff508516442e12b2638c956
    body:
      encoding: UTF-8
      string: '{"revision": 107, "rev": "6b1f47d8b3", "thumb_exists": false, "bytes":
        12, "modified": "Mon, 10 Feb 2014 20:47:40 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:47:40 +0000", "path": "/awesome-tests/delta-test-bar.txt", "is_dir":
        false, "icon": "page_white_text", "root": "dropbox", "mime_type": "text/plain",
        "size": "12 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:47:41 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAH8DWQ5U_abxuz-zq9klgVXyKrILyLYjcasZYicZl5E_-pDmwyQct_-DKaCHhWVR7dNDbNdmxpoFMZl8xk-ZIJDmiOQGmitpnifzAHTfZyI1A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '34'
      X-Dropbox-Request-Id:
      - 4d2b77601663c415db2bda99754088ea
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - fca3f18b9121ceccbaf981327e1dfa23
    body:
      encoding: UTF-8
      string: '{"has_more": false, "cursor": "AAEEdtIs8w3jyRiYmp2f067wZhJWZ-9Ap0i6LLuWcpRee5a9KB-e9LIFkmFsosWvqf-gEQR3dSzaOkG_JKKz638CatASXx-T7CR8jd-3aox0eA",
        "entries": [["/awesome-tests/delta-test-baz.txt", null], ["/awesome-tests/delta-test-bar.txt",
        {"revision": 107, "rev": "6b1f47d8b3", "thumb_exists": false, "bytes": 12,
        "modified": "Mon, 10 Feb 2014 20:47:40 +0000", "client_mtime": "Mon, 10 Feb
        2014 20:47:40 +0000", "path": "/awesome-tests/delta-test-bar.txt", "is_dir":
        false, "icon": "page_white_text", "root": "dropbox", "mime_type": "text/plain",
        "size": "12 bytes"}]], "reset": false}'
  recorded_at: Mon, 10 Feb 2014 20:47:44 GMT
recorded_with: VCR 2.8.0
