---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/qux.txt
    body:
      encoding: UTF-8
      string: spec file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '358'
      X-Dropbox-Request-Id:
      - e6de16e59e06cd60d0ee9234844d4e9d
      X-Requestid:
      - de8d3b1804fc09155b3f16aea7ae0eee
    body:
      encoding: UTF-8
      string: '{"revision": 66, "rev": "421f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:30:04 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:29:58 +0000", "path": "/qux.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:30:10 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/copy_ref/dropbox/qux.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '48'
      X-Dropbox-Request-Id:
      - 7f928c93e5173ce73eb77e66f75126b0
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 7767ca27923a446c60b0706e925b62b9
    body:
      encoding: UTF-8
      string: '{"expires": "Wed, 03 Feb 2044 20:30:10 +0000", "copy_ref": "H0fYszZvbmp1MmxpOGQ3bg"}'
  recorded_at: Mon, 10 Feb 2014 20:30:11 GMT
recorded_with: VCR 2.8.0
