---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/qux.txt
    body:
      encoding: UTF-8
      string: spec file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '251'
      X-Dropbox-Request-Id:
      - f10b03a80c580cd9ca588be427fed55b
      X-Requestid:
      - 5203140ae76a85df40a114435260f0da
    body:
      encoding: UTF-8
      string: '{"revision": 66, "rev": "421f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:30:04 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:29:58 +0000", "path": "/qux.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:30:12 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/media/dropbox/qux.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '74'
      X-Dropbox-Request-Id:
      - 70e9b340268a336de1f9391c7b5f2721
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 123bcb924ed261b3853682b4c6363118
    body:
      encoding: UTF-8
      string: '{"url": "https://dl.dropboxusercontent.com/1/view/nx00e9hb9jdyf9a/qux.txt",
        "expires": "Tue, 11 Feb 2014 00:30:11 +0000"}'
  recorded_at: Mon, 10 Feb 2014 20:30:12 GMT
recorded_with: VCR 2.8.0
