---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/qux.txt
    body:
      encoding: UTF-8
      string: spec file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '369'
      X-Dropbox-Request-Id:
      - 0f92cff20a12981e275592104971dfce
      X-Requestid:
      - 46c9b45f650d4ee1c93d46f55a88fa16
    body:
      encoding: UTF-8
      string: '{"revision": 66, "rev": "421f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:30:04 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:29:58 +0000", "path": "/qux.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:30:08 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/shares/dropbox/qux.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '71'
      X-Dropbox-Request-Id:
      - 02e7a94364d1674d49752f3be1d7b18f
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - c0ba5e18f3d76407552829f0fcbeafa6
    body:
      encoding: UTF-8
      string: '{"url": "https://db.tt/ntLrA9Il", "expires": "Tue, 01 Jan 2030 00:00:00
        +0000"}'
  recorded_at: Mon, 10 Feb 2014 20:30:09 GMT
recorded_with: VCR 2.8.0
