---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/qux.txt
    body:
      encoding: UTF-8
      string: spec file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '346'
      X-Dropbox-Request-Id:
      - 615685a236dfcd457aa583dff5f73198
      X-Requestid:
      - 5145b88eefe5fcdda9c983b373e89c34
    body:
      encoding: UTF-8
      string: '{"revision": 99, "rev": "631f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:41:10 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:41:10 +0000", "path": "/qux.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:41:11 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/move
    body:
      encoding: US-ASCII
      string: from_path=qux.txt&root=dropbox&to_path=qux.txt.copied
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '171'
      X-Dropbox-Request-Id:
      - 236b718da5f8ded241fedc4718460faa
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 7c4f9b1e5b1b56a6a6b311eabac97475
    body:
      encoding: UTF-8
      string: '{"revision": 101, "rev": "651f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:41:14 +0000", "client_mtime": "Mon, 10
        Feb 2014 20:41:10 +0000", "path": "/qux.txt.copied", "is_dir": false, "icon":
        "page_white", "root": "dropbox", "mime_type": "application/octet-stream",
        "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:41:15 GMT
recorded_with: VCR 2.8.0
