---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/test%20,%7C!@%23$%25%5E&*%7Bb%7D%5B%5D.;'.,%3C%3E%3F:.txt
    body:
      encoding: UTF-8
      string: Some file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '350'
      X-Dropbox-Request-Id:
      - 840450db3d6ae86d60d3974ce1d68afa
      X-Requestid:
      - a5631bf31c63466bfca10d40097501cd
    body:
      encoding: UTF-8
      string: '{"revision": 10, "rev": "a1f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 18:14:03 +0000", "client_mtime": "Mon, 10
        Feb 2014 18:14:03 +0000", "path": "/test ,|!@#$%^&*{b}[].;''.,<>?:.txt", "is_dir":
        false, "icon": "page_white_text", "root": "dropbox", "mime_type": "text/plain",
        "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:29:10 GMT
recorded_with: VCR 2.8.0
