---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/qux.txt
    body:
      encoding: UTF-8
      string: spec file
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '351'
      X-Dropbox-Request-Id:
      - 2d9f2fa379fe7c252768a27fb198c0d2
      X-Requestid:
      - 9522be9cbb96d01b92cbeccf547d8574
    body:
      encoding: UTF-8
      string: '{"revision": 55, "rev": "371f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 19:16:34 +0000", "client_mtime": "Mon, 10
        Feb 2014 19:16:34 +0000", "path": "/qux.txt", "is_dir": false, "icon": "page_white_text",
        "root": "dropbox", "mime_type": "text/plain", "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:29:38 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/copy
    body:
      encoding: US-ASCII
      string: from_path=qux.txt&root=dropbox&to_path=qux.txt.copied
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '165'
      X-Dropbox-Request-Id:
      - d9d69046d8cfb319e4f7c00bae16c11a
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - aa92bc03876004789fee72263e3c39fe
    body:
      encoding: UTF-8
      string: '{"revision": 60, "rev": "3c1f47d8b3", "thumb_exists": false, "bytes":
        9, "modified": "Mon, 10 Feb 2014 20:29:38 +0000", "client_mtime": "Mon, 10
        Feb 2014 19:16:34 +0000", "path": "/qux.txt.copied", "is_dir": false, "icon":
        "page_white", "root": "dropbox", "mime_type": "application/octet-stream",
        "size": "9 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:29:39 GMT
recorded_with: VCR 2.8.0
