---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: path=awesome-tests-%21%40%23%24%25%5E%26%7Bb%7D%5B%5D.%3B%27.%2C&root=dropbox
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '188'
      X-Dropbox-Request-Id:
      - fc88ff4138bc2c5f7ba768c7b01150f9
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - c518f6939b4cd2f6e18e2470c3f02429
    body:
      encoding: UTF-8
      string: '{"revision": 77, "rev": "4d1f47d8b3", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 10 Feb 2014 20:37:09 +0000", "path": "/awesome-tests-!@#$%^&{b}[].;''.,",
        "is_dir": true, "icon": "folder", "root": "dropbox", "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:37:11 GMT
recorded_with: VCR 2.8.0
