---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: path=awesome-tests-%C5%82%C3%B3%C5%82%C4%85&root=dropbox
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '142'
      X-Dropbox-Request-Id:
      - 14136af946b9c4de18718963c423435b
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 3784fd5ef1f0bb4747a76d2fa8cee123
    body:
      encoding: UTF-8
      string: '{"revision": 78, "rev": "4e1f47d8b3", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 10 Feb 2014 20:37:11 +0000", "path": "/awesome-tests-\u0142\u00f3\u0142\u0105",
        "is_dir": true, "icon": "folder", "root": "dropbox", "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:37:12 GMT
recorded_with: VCR 2.8.0
