---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: path=awesome-tests&root=dropbox
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '165'
      X-Dropbox-Request-Id:
      - 3cf0e56149eac959e5b4c669799eb77b
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 5ecf433db403e959780ffff06c40045a
    body:
      encoding: UTF-8
      string: '{"revision": 102, "rev": "661f47d8b3", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 10 Feb 2014 20:41:49 +0000", "path": "/awesome-tests",
        "is_dir": true, "icon": "folder", "root": "dropbox", "size": "0 bytes"}'
  recorded_at: Mon, 10 Feb 2014 20:41:50 GMT
recorded_with: VCR 2.8.0
